<launch>
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="enable_pointcloud" default="true" />
        <arg name="enable_accel" default="true" />
        <arg name="enable_gyro" default="true" />
        <arg name="initial_reset" default="true" />
    </include>
</launch>
